header {
    background-color: lightgreen;
}

main {
    background-color: pink;
}

footer {
    background-color: aqua;
}


nav {
    background-color: #071c2e;
    color: white;
    display: flex; 
    justify-content: space-between;
}

ul {
    list-style: none;
    display: inline-flex;

}

@media screen (max-width 768px) {
    #browse {
        display: none;
    }

    #search {
        display: none;
    }
}

#navbar1 {
    display: flex;

}

